.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .messageList {
    max-height: 550px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    border-radius: 0.75em;
    margin-left: 1em;
    overflow-y: auto;
    @include shadowed;
  }

  .inputCard > * {
    margin-left: 1em;
    border-radius: 0.75em;
    border: none;
    @include shadowed;
  }
}
