.signUpCompanyPage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
