.wrapper {
  padding: 20px;
  height: 100%;

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;

    &Body {
      flex: 1;

      .content {
        flex-direction: column;

        @include respond-to('desktop') {
          flex-direction: row;
        }
      }
    }

    &Header {
      justify-content: flex-end;
      min-height: 32px;
    }

    .menuCol ul {
      border-right: none;

      @include respond-to('desktop') {
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .tabs :global(.ant-tabs-tab) {
      padding-top: 16px;
      padding-bottom: 18px;
    }
  }
}
