.form {
  gap: 20px;
}

.formWrapper {
  &_scroll {
    max-height: calc(100vh - 316px);
    overflow-y: auto;
  }
}

.formContent {
  flex-wrap: wrap;
  gap: 20px;

  @include respond-to('xl') {
    gap: 40px;
  }

  &__part {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include respond-to('mobile') {
      min-width: 200px;
    }

    @include respond-to('tablet') {
      min-width: 400px;
    }
  }
}

.actionBtnWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
